*{
     margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


.header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 0px;
        height: 66px;
        box-shadow: 0px 0px 12px rgb(49 39 39);
        text-align: center;
        padding: 0px 20px;
        background: #92C0BC;
}
#logo{
    font-size: 32px;
    text-decoration: none;
    box-shadow: -1px 6px 4px #694747;
    margin-top: 13px;
    height: 41px;
    width: 276px;
    color: aliceblue;
}
.navbar{
    margin-left: 10rem;
    margin-top: 24px;
}
.navbar a{
    margin: 29px;
    text-decoration: none;
    font-size: 18px;
    background-color: #24322e;
    padding: 10px 15px;
    border-radius: 6px;
    color: white;
    
}
.icons{
    margin-top: 19px;
    display: flex;
    flex-direction: row;
    gap: 51px;
}
#home{
    background-image: linear-gradient(rgba(9, 5 , 53, 0.3),rgba(5,4, 54, 0.7)), url("https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGNvbXB1dGVyfGVufDB8fDB8fHww");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
#home h1{
    font-size: 47px;
    margin-bottom: 70px;
    font-weight: 600;
}
#home p{
    width: 816px;
    font-size: 20px;
    text-align: center;
    line-height: 2rem;
}
#account-btn{
    /* background-color: bisque; */
    width: 62px;
    height: 39px;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 13px;

}
.fa-regular{
    font-weight: 400;
    font-size: 22px;
    color: white;
    background-color: red;
    padding: 2px 6px;
    border-radius: 7px;
}
.btn{
    margin-top: 71px;
}
.btn button{
    width: 126px;
    height: 49px;
    border-radius: 8px;
    font-size: 18px;

}
.btn .blue:hover{
    color: white;
    background: rgb(21, 21, 100);
    font-weight: 600;
    transition: 0.3s;
}
.btn .red:hover{
    color: white;
    background: #424227;
    font-weight: 600;
    transition: 0.3s;
}
#feature{
    padding: 5rem 8rem 0 8rem;
    text-align: center;
    background: aliceblue;
    padding-bottom: 8rem;
}
#feature h1{
    font-size: 47px;
    margin-bottom: 14px;
}
.fea-card{
    /* background-color: #c7c7fd; */
    text-align: start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 5rem;
}
.fea-box{
     background-color: #c7c7fd; 
     padding: 0 12px 0 12px;
     border-radius: 9px;
}

.fea-box i{
    font-size: 30px;
    color: rgba(44, 45, 80);
}
.fea-box h3{
    font-size: 1.5rem;
    color: #424227;
    padding: 13px 0 7px 0;
}
.fea-box p{
    padding: 2px 10px 10px 10px;
    color: black;
    font-size: 17px;
    line-height: 23px;
}
#course{
    padding: 8vh 8vh 0 8vh;
    background-color: #d8d5d2;
   
    
}
#course-title{
    text-align: center;
    margin: 15px 0px;
    font-size: 40px;
    

}
#course-para{
    text-align: center;
    font-size: 20px;
    width: 600px;
    margin-left: 453px;
    margin-top: 2rem;
}

.course-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 3rem 5rem 0 6rem;
    
}
.course-box img{
    width: 350px;
    height: 230px;
    border-radius: 8px;
    box-shadow: 6px -8px 4px 0px rgb(85 207 241);
}
    

.course-box{
    /* border: 2px solid red; */
    margin: 20px 20px;
}
#regis-form{  
    position: absolute;
    top: 23rem;
    left: 11rem;
}
#res{
    position: relative;
}
#res img{
    background-size: cover;
    object-fit: cover;
    width: 100%;
    opacity: 0.5;
    
}
#regis-form p{
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(171, 232, 232);
    
}
#regis-form h1{
    font-size: 40px;
    padding:60px 0px;
    color: #0d0df1;
}
.box-time{
    display: flex;
    gap: 20px;
    padding-top: 20px;

}

.days, .hours, .mins, .secon{
    padding: 20px 36px;
    background-color: rgb(230, 230, 169);
    border-radius: 12px;
    font-size: 21px;
    color: rgb(10, 94, 38);
    
}
.form{
    background: #aaaaed;
    position: absolute;
    right: 8rem;
    top: 23rem;
    padding: 20px;
    height: 385px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
}

.form input{
    font-size: 21px;
    margin-top: 20px;
    padding: 8px;
    border-radius: 5px;

}
#log-btn{
    font-size: 18px;
    padding: 10px 36px;
    margin-top: 35px;
    letter-spacing: 3px;
    border-radius: 6px;
    background-color: green;
    color: white;
    transition: ease-in 0.5s;
    font-weight: 700;
    
}
#log-btn:hover{
    background-color:transparent;
    color: #ffffff;
   
}
.icon-login{
    margin-top: 20px;
    font-size: 27px;
    color: #dbdbdb;
    border-radius: 41%;
    background: green;
    padding: 11px 30px;
    width: 266px;
    height: 76px;
    text-align: center;
    margin-left: 49px;
}
.form p{
    font-size: 18px;
    color: white;
}
.fa-brands{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(56, 56, 44);
    width: 60px;
    height: 40px;
    border-radius: 45%;
    color: white;
    margin-top: 12px;
    padding: 7px;
}

.fa-brands:hover{
    background-color: aqua;
    color: #ff2ff9;

}
.expri-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin: 3rem 5rem 0 6rem;
}
.box-profile{
    box-shadow: -4px 2px 3px;
    padding: 2px 20px;
    background-color: rgb(63, 92, 92);
    margin: 22px 13px;

}

.box-profile img{
    width: 231px;
    height: 231px;
    margin: 10px 9px;
    border-radius: 50%;
}
.box-profile h1{
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 26px;
}
.box-profile p{
    color: #fbc37c;
    line-height: 28px;
}
#sub{
    font-size: 18px;
    color: yellow;
    font-weight: 500;
    font-family: sans-serif;
}

.box-profile span{
    color: white;
    margin-left: 14px;
}

#footer-sec{
   background-color: #24322e;
}

.last-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 5rem 0 6rem;
    padding: 3rem 0px;
    color: white;

}
.last-sec h1{
    font-size: 30px;
    margin-bottom: 40px;
}
.last-sec p{
    font-size: 18px;
    line-height: 44px;
}

.news-letter{
    margin-bottom: 32px;
}
.news-letter h1{
    margin: 0px;
    margin-bottom: 70px;
}
.send-message input{
    padding:10px 16px;
    width: 242px;
    text-align: center;
    font-size: 18px;

}
.send-message button{
    padding:14px 16px;
    background-color: yellow;
    color: rgb(249, 91, 91);
    font-weight: 500;
    
}
.send-message input::placeholder{
    font-size: 15px;
}
@media only screen and (max-width:480px){

    .navbar {
        display: none;
    }
    #account-btn{
        display: none;
    }
    #home{
        height: 85vh;
    }
    #home h1 {
        font-size: 27px;
        margin-bottom: 24px;
        font-weight: 500;
    }
    #home p{
        width: 100%;
        font-size: 12px;
        text-align: center;
        line-height: 1.1rem;    }
    #res  {
        display: none;
        flex-direction: column;
       
       
    }
    .course-box img {
        width: 300px;
        height: 230px;
        
    }
    #feature {
        padding: 12px;
    }
    #feature h1{
        font-size: 30px;
    }
    #course-title{
        font-size: 30px;
    }
    .fea-box p{
        font-size: 17px;

    }
    #course{
        padding: 20px ;
    }
    .course-info{
        margin: 0px;
    }
    #course-para {
        text-align: center;
        font-size: 15px;
        width: 300px;
        margin-left: 10px;
        margin-top: 2rem;
    }

    #regis-form {
        position: absolute;
        top: 23rem;
        /* left: 11rem; */
    }

    .last-sec {
        /* display: flex;
        justify-content: space-between; */
        flex-direction: column;
        align-items: center;
        color: white;
        margin: 0px;
    }

    .expri-box {
        
        margin: 3rem 3rem 0 1rem;
    }
}